<fieldset>
	<legend>New Appointment</legend>
	<form (submit)='newAppoint($event, appointForm)' #appointForm='ngForm'>
		<div>
			<label>Date:</label>
			<input type="date" name="datefield" [(ngModel)]='appointment.appointDate' (ngModelChange)='verifyDate()' required min="{{ minDate }}">
			<label>Time:</label>
			<input type="time" name="timefield" [(ngModel)]='appointment.appointTime' required value="08:00" min="08:00" max="17:00">
		</div>
			<p class='warning' *ngIf='!isDateAvailable'>There are no more available appointments for this date. Please choose another date.</p>
		<div>
			<label>Reason for visit: (required)</label>
			<br/>
			<textarea type="text" name="complain" [(ngModel)]='appointment.complain' required minlength='10'></textarea>
		</div>
		<input type="submit" name="submit" value="Add Appointment" [disabled]='!appointForm.valid || !isDateAvailable'>
	</form>
	<button [routerLink]="['/dashboard']">Cancel</button>
</fieldset>